<div id="gameDisplayStatus" class="getDisplayStatus">
	<br><br><br>
	Game Status:
	{{#if name}}
		<br>
		Animal Name is:&nbsp;{{name}}
	{{/if}}
	{{#if food}}
		<br>
		Animal was fed:&nbsp;{{food}}
	{{/if}}
	{{#if foodBonusAmount}}	
		<br>
		Food Bonus:&nbsp;{{foodBonusAmount}}%
	{{/if}}	 
	{{#if weaponName}}	
		<br>
		Weapon:&nbsp;{{weaponName}}
	{{/if}}	 
	{{#if monsterName}}	
		<br>
		Monster:&nbsp;{{monsterName}}
	{{/if}}	 
	{{#if battleResult}}	
		<br>
		Battle Result:&nbsp;{{battleResult}}
	{{/if}}	 
	
</div>